<template>
  <div class="contianer p-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div>
        <h1>Star Wars Characters</h1>
      </div>
      <div>
        <input
          v-if="characters.length && !error"
          type="text"
          class="form-control"
          placeholder="Search by name..."
          v-model="searchQuery"
        />
      </div>
    </div>

    <div v-if="error">
      <p>{{ error }}</p>
    </div>

    <CharacterTable 
      v-if="characters.length && !error"
      :characters="filteredCharacters" 
      :sortBy="sortBy" 
      :orderBy="orderBy"
      :pageNumber="pageNumber"
      :next="next"
      @sortby="changeSort"
      @changePage="changePage"
    />

    <PlanetModal 
      :activePlanet="activePlanet"
      v-if="activePlanet"
    />

  </div>
</template>

<script>
import CharacterTable from "../components/CharacterTable";
import PlanetModal from "../components/PlanetModal";
import getCharacters from "../composable/getCharacters";
import { computed, ref } from '@vue/reactivity';
import { useStore } from 'vuex';

export default {
  name: "Home",
  components: { CharacterTable, PlanetModal },
  setup() {
    const { error, next, load } = getCharacters();
    const pageNumber = ref(1);
    const searchQuery = ref('');
    const sortBy = ref('created');
    const orderBy = ref('asc');
    const planetModal = ref(false);
    const store = useStore(); 
    const characters = computed(() => store.state.characters);

    load(pageNumber.value);

    const reloadPosts = () => {
      sortBy.value = 'created';
      orderBy.value = 'asc';
      load(pageNumber.value);
    };

    const filteredCharacters = computed(() => {
      return characters.value.filter((character) => character.name.toLowerCase().includes(searchQuery.value.toLowerCase()));
    });

    const changePage = (changePage) => {
      if (changePage === 'next') {
        pageNumber.value = pageNumber.value + 1;
      }
      else if (changePage === 'prev') {
        pageNumber.value = pageNumber.value - 1;
      }
      reloadPosts();
    };

    // Functions transform 'unknown' to an integer so it can be sorted
    const transform = (n) => {
      return n === 'unknown' ? -1 : n;
    }
    
    const changeSort = (value) => {
      
      orderBy.value = sortBy.value !== value || orderBy.value === '' || orderBy.value === 'dsc' ? orderBy.value = 'asc' : orderBy.value = 'dsc';
      sortBy.value = value;

      if (sortBy.value === 'name') {
        if(orderBy.value === 'asc') {
          characters.value.sort((a, b) => {
            return a[value].toLowerCase().localeCompare(b[value].toLowerCase());
          });
        }
        else {
          characters.value.sort((a, b) => {
            return a[value].toLowerCase().localeCompare(b[value].toLowerCase());
          }).reverse();
        }
      }
      else if (sortBy.value === 'mass' || sortBy.value === 'height') {
        if(orderBy.value === 'asc') {
          characters.value.sort((a, b) => {
            return parseInt(transform(a[value])) - parseInt(transform(b[value]));
          });
        }
        else {
          characters.value.sort((a, b) => {
            return parseInt(transform(b[value])) - parseInt(transform(a[value]));
          })
        }
      }
      else if (sortBy.value === 'created' || sortBy.value === 'edited') {
        if(orderBy.value === 'asc') {
          characters.value.sort((a, b) => {
            return new Date(a[value]) - new Date(b[value]);
          });
        }
        else {
          characters.value.sort((a, b) => {
            return new Date(b[value]) - new Date(a[value]);
          })
        }
      }
      else if (sortBy.value === 'planet') {
        if(orderBy.value === 'asc') {
          characters.value.sort((a, b) => {
            return a[value]['name'].toLowerCase().localeCompare(b[value]['name'].toLowerCase());
          });
        }
        else {
          characters.value.sort((a, b) => {
            return a[value]['name'].toLowerCase().localeCompare(b[value]['name'].toLowerCase());
          }).reverse();
        }
      }
    };

    return { 
      characters, 
      error, 
      pageNumber, 
      searchQuery, 
      filteredCharacters, 
      reloadPosts, 
      changeSort, 
      sortBy, 
      next, 
      orderBy, 
      changePage,
      planetModal,
      activePlanet: computed(() => store.state.activePlanet),
    };

  },
};
</script>

<style>
.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body {
  background: black url("../assets/img/stars.jpg") repeat;
}

h1, p {
  color: yellow;
}
</style>