<template>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" @click="changeSort(heading.toLowerCase())" v-for='heading in tableHeadings' :key='heading.toLowerCase()'>
          <span>{{heading}}</span> 
          <i v-if="sortBy === heading.toLowerCase() && orderBy === 'asc'" class="fas fa-sort-up"></i>
          <i v-else-if="sortBy === heading.toLowerCase() && orderBy === 'dsc'" class="fas fa-sort-down"></i>
          <i v-else class="fas fa-sort"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <CharacterRow 
        v-for="(character, index) in characters" 
        :key="index" 
        :character="character"
      />
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <button class="btn" @click="changePage('prev')" :disabled="pageNumber === 1 || loading">Previous</button>
      </li>
      <li class="page-item">
        <button class="btn" @click="changePage('next')" :disabled="!next || loading">Next</button>
      </li>
    </ul>
  </nav>
</template>

<script>
import CharacterRow from './CharacterRow';
import { ref, computed } from '@vue/reactivity';
import { useStore } from 'vuex';

export default {
    name: 'CharacterTable',
    components: { CharacterRow },
    props: ['characters', 'sortBy', 'orderBy', 'pageNumber', 'next'],
    emits: ['sortby', 'changePage'],
    setup(props, { emit }) {
      const tableHeadings = ref(['Name', 'Height', 'Mass', 'Created', 'Edited', 'Planet']);
      const store = useStore();
      const loading = computed(() => store.state.loading);

      const changeSort = (value) => {
          emit('sortby', value);
      };

      const changePage = (value) => {
          emit('changePage', value);
      };

      return { tableHeadings, changeSort, changePage, loading };
    },
};
</script>

<style scooped>
  th {
    cursor: pointer;
    color: yellow;
  }

  th > span {
    margin-right: 5px;
  }

  button.btn {
    color: yellow;
  }

  button.btn:hover {
    color: yellow;
  }
</style>