<template>
  <tr>
    <td>{{ character.name }}</td>
    <td>{{ isNaN(character.height) ? $filters.capitalise(character.height) : parseInt(character.height).toLocaleString() }}</td>
    <td>{{ isNaN(character.mass) ? $filters.capitalise(character.mass) : parseInt(character.mass).toLocaleString() }}</td>
    <td>{{ formattedCreated }}</td>
    <td>{{ formattedEdited }}</td>
    <td class="planet" @click="openModal">{{ $filters.capitalise(character.planet.name) }}</td>
  </tr>
</template>

<script>
import moment from 'moment';
import { computed } from '@vue/reactivity';
import { useStore } from 'vuex';

export default {
  name: "CharacterRow",
  props: ["character"],
  
  setup(props) {

    const store = useStore(); 

    const formattedCreated = computed(() => {
      return moment(props.character.created).format('DD/MM/YYYY @ h:mma');; 
    });

    const formattedEdited = computed(() => {
      return moment(props.character.edited).format('DD/MM/YYYY @ h:mma');; 
    });

    const openModal = () => {
      store.commit('setActivePlanet', props.character.planet);
    };

    return { 
      formattedCreated, 
      formattedEdited,
      setActivePlanet: () => store.commit('setActivePlanet'),
      openModal,
    };
  },
};
</script>

<style scroped>
  .planet {
    text-decoration: underline;
    cursor: pointer;
  }

  td {
    color: yellow;
    border-color: yellow;
  }
</style>